@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-primary display-3">Livros que Transformam</h1> 
    <p class="text-muted">Entre nesse universo de sabedoria e diversão.</p> 
        <img src="/img/book.png" alt="Imagem de um livro" class="rounded" /> 
</div>

